body {
    font-family: arial;
}


a {
    margin: 5px;
    padding: 5px;
    text-decoration: none;
}

.timer {
    margin-top: -15px;
    margin-right: 40px;
    padding: 1px;
    font-weight: bold;
    text-align: right;
}

.quizStart{
    text-align: center;
}

ol {
    background-color: purple;
    color: white;
    text-align: left;
    font-size: 20px;
}

ol :hover{
    background-color: pink;
}

.startQuiz {
    color: white;
    background-color: purple;
    padding: 10px;
    margin: auto;
    display: block;
    font-size: 20px;
    border-radius: 60px;
    width: auto;
}
.startQuiz:hover {
    background-color: green;
}


label{
    /* Enter Initials */
    text-align: left;
}
input{
    margin: 20px;
    width: 20%;
    border: 1px solid black;
}
/* Submit button */
.button2{
    color: white;
    background-color: purple;
}
.button2 :hover{
    background-color: pink;
}

/* Go Back Button */
.button3{
    display: inline-block;
    color: white;
    background-color: purple;
    font-size: 20px;
    border-radius: 60px;
}
/* Clear High Scores button */
.button4{
    display: inline-block;
    color: white;
    background-color: purple;
    font-size: 20px;
    border-radius: 60px;
}




@media screen and (max-width: 1400px) {}

@media screen and (max-width: 960px) {}

@media screen and (max-width: 700px) {}

@media screen and (max-width: 560px) {}