body {
    font-family: arial;
}
/* body .wrapper{
    margin:0 auto;
} */

a {
    margin: 5px;
    padding: 5px;
    text-decoration: none;
}

.currenttimer {
    margin-top: -15px;
    margin-right: 40px;
    padding: 1px;
    font-weight: bold;
    text-align: right;
}

.quizquestions{
    text-align: center;
}

ol {
    background-color: purple;
    color: white;
    text-align: left;
    font-size: 20px;
}

ol :hover{
    background-color: pink;
}

button {
    color: white;
    background-color: purple;
    padding: 10px;
    margin: auto;
    display: block;
    font-size: 20px;
    border-radius: 60px;
    width: auto;
}
button:hover {
    background-color: green;
}
hr {
    color: lightgray;
    display: inline-block;
    width: 10%;
    margin: auto;
}
/* Put something here to make Correct! or Wrong! appear under the hr line */

label{
    /* Enter Initials */
    text-align: left;
}
/* Submit button */
.button2{
    color: white;
    background-color: purple;
}
.button2 :hover{
    background-color: pink;
}
hr {
    color: lightgray;
    display: inline-block;
    width: 10%;
    margin: auto;
}
/* Go Back Button */
.button3{
    display: inline-block;
    color: white;
    background-color: purple;
    font-size: 20px;
    border-radius: 60px;
}
/* Clear High Scores button */
.button4{
    display: inline-block;
    color: white;
    background-color: purple;
    font-size: 20px;
    border-radius: 60px;
}




@media screen and (max-width: 1400px) {}

@media screen and (max-width: 960px) {}

@media screen and (max-width: 700px) {}

@media screen and (max-width: 560px) {}